@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: #fef9ea; */
}

li,
a,
button {
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  font-size: 22px;
  color: #fef9ea;
  text-decoration: none;
}

header {
  /* position: fixed; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
  background-color: #376b4d;
  width: 100%;
}

.Burger {
  display: none;
}

.logo {
  padding: 0;
  margin-right: auto;
  display: flex;
}

.logo img {
  cursor: pointer;
  width: 20%;
}

.logo a {
  margin: auto 5%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #1190cb;
}

.burger-button {
  display: none;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #1190cb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #fef9ea;
  color: #1190cb;
}

@media screen and (max-width: 1175px) {
  header {
    width: 100%;
    max-width: 100%;
  }

  .logo img {
    cursor: pointer;
    width: 40%;
  }

  .Burger {
    display: block;
    position: relative;
  }

  .Burger button {
    position: top;
    left: 40px;
    top: 40px;
    z-index: 999;
    cursor: pointer;
  }

  .menuNav {
    /* overflow-y: scroll; */
    /* list-style: none; */
    position: fixed;
    top: 0;
    background: #376b4d;
    left: 0;
    right: 0;
    /* bottom: 0; */
    height: 150vh;
    width: 0;
    overflow: hidden;
    max-width: 100%;
    z-index: 99;
  }

  .menuNav.showMenu {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  a {
    display: block;
    text-decoration: none;
    color: #fef9ea;
    text-transform: uppercase;
  }

  .burger-button-close {
    text-align: center;
    background-color: #376b4d;
    margin-top: 5%;
  }

  .menuNav li:first-child {
    margin-top: 10rem;
  }

  .menuNav li {
    padding: 10%;
  }

  .nonBurger {
    display: none;
  }

  .burger-button {
    display: block;
    font-size: 2em;
    background-color: #376b4d;
  }

  .logo a {
    display: none;
  }

  .cta-Start {
    font-size: 0.9em;
  }

  .cta button {
    background-color: #98bb58;
    margin: auto;
    /* padding: 5px 15px; */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}
